In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dat
import matplotlib as mplt
import datetime as dt
%matplotlib inline
sns.set()

In [2]:
auctions = pd.read_csv("data/auctions.csv", dtype={'date': 'str',
                                                   'device_id': 'category', 'ref_type_id': 'category',
                                                   'source_id':'category'}, parse_dates = ['date'])
auctions.head(5)

                        date            device_id ref_type_id source_id
0 2019-04-23 18:58:00.842116  2564673204772915246           1         0
1 2019-04-23 18:58:01.530771  4441121667607578179           7         0
2 2019-04-23 18:58:01.767562  7721769811471055264           1         0
3 2019-04-23 18:58:02.363468  6416039086842158968           1         0
4 2019-04-23 18:58:02.397559  1258642015983312729           1         0

In [3]:
auctions=auctions.sort_values(by='date')

In [4]:
serie=auctions.groupby('device_id').cumcount()
serie=serie.to_list()

In [5]:
auctions['entradas_previas']=serie

In [6]:
fecha_minima=pd.to_datetime('2019-04-18 00:00:00')
fecha_minima
fecha_tope=pd.to_datetime('2019-04-21 00:00:00')
auctions_ventana1=auctions.loc[auctions['date']<fecha_tope].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana1['tiempo_hasta_aparicion']=(auctions_ventana1['date']-fecha_minima)/ np.timedelta64(24, 'h')
auctions_ventana1['dia_mean']=auctions_ventana1['date'].dt.day
auctions_ventana1['dia_desvio_std']=auctions_ventana1['date'].dt.day
auctions_ventana1.head(25)
#auctions_ventana1['date'].max()

,date,device_id,ref_type_id,source_id,entradas_previas,tiempo_hasta_aparicion,dia_mean,dia_desvio_std
10129864,2019-04-18 00:00:00.015050,1826643666390887030,7,0,0,1.741898e-07,18,18
25285906,2019-04-18 00:00:00.029014,7037174172278258682,1,0,0,3.358102e-07,18,18
3946062,2019-04-18 00:00:00.057540,3392065368947589877,1,1,0,6.659722e-07,18,18
3946063,2019-04-18 00:00:00.126828,1228982273563226229,1,1,0,1.467917e-06,18,18
24607726,2019-04-18 00:00:00.132510,4123059034628125459,1,8,0,1.533681e-06,18,18
11820552,2019-04-18 00:00:00.154022,2544156497510885464,1,1,0,1.782662e-06,18,18
44538105,2019-04-18 00:00:00.167606,8523620031586497559,1,1,0,1.939884e-06,18,18
4953159,2019-04-18 00:00:00.176600,3926687473682441392,1,1,0,2.043981e-06,18,18
11812696,2019-04-18 00:00:00.191287,528082274254399315,1,1,0,2.213970e-06,18,18
11820553,2019-04-18 00:00:00.217645,8160556786289359332,7,1,0,2.519039e-06,18,18
47080629,2019-04-18 00:00:00.219200,2844535553398493162,1,1,0,2.537037e-06,18,18
44517641,2019-04-18 00:00:00.225600,1680272311925142702,1,1,0,2.611111e-06,18,18
44538106,2019-04-18 00:00:00.231719,7508214929604895080,1,1,0,2.681933e-06,18,18
3434618,2019-04-18 00:00:00.233441,3926237048471091695,1,1,0,2.701863e-06,18,18
44514683,2019-04-18 00:00:00.241021,5802277733017057132,1,1,0,2.789595e-06,18,18
44514684,2019-04-18 00:00:00.259283,3651814472131322640,1,1,0,3.000961e-06,18,18
44504337,2019-04-18 00:00:00.292937,3965552861693715909,1,1,0,3.390475e-06,18,18
16344775,2019-04-18 00:00:00.294466,3070948202665858642,1,0,0,3.408171e-06,18,18
10129865,2019-04-18 00:00:00.299745,9087325953285418021,7,0,0,3.469271e-06,18,18
16188706,2019-04-18 00:00:00.306234,1819974464797805789,1,3,0,3.544375e-06,18,18
44538107,2019-04-18 00:00:00.309708,5910141895954932407,1,1,0,3.584583e-06,18,18
20481863,2019-04-18 00:00:00.319542,3504225602898030913,1,0,0,3.698403e-06,18,18
16344776,2019-04-18 00:00:00.358183,7181749374516241024,1,0,0,4.145637e-06,18,18
16735299,2019-04-18 00:00:00.358382,2053845849512280922,1,3,0,4.147940e-06,18,18
11798280,2019-04-18 00:00:00.363428,1680272311925142702,1,1,1,4.206343e-06,18,18

In [7]:
auctions_ventana1['entradas_previas'].value_counts()

0        318325
1        270109
2        240005
3        218598
4        201923
5        188339
6        176954
7        167217
8        158705
9        151291
10       144761
11       138893
12       133575
13       128646
14       124149
15       120059
16       116228
17       112684
18       109427
19       106302
20       103470
21       100750
22        98105
23        95747
24        93378
25        91157
26        89052
27        87029
28        85110
29        83260
          ...
9974          1
9973          1
9972          1
9963          1
9962          1
9961          1
9990          1
9991          1
9984          1
9985          1
10012         1
10003         1
10002         1
10001         1
10000         1
10007         1
10006         1
10005         1
10004         1
9995          1
9994          1
9993          1
9992          1
9999          1
9998          1
9997          1
9996          1
9987          1
9986          1
10010         1
Name: entradas_previas, Length: 10058, dtype: int64

In [11]:
auctions_ventana1_reducido=auctions_ventana1.groupby(['device_id']).agg({"dia_mean" : np.mean,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "std",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min})\
                                                                            .reset_index('device_id')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
auctions_ventana1_reducido=auctions_ventana1_reducido.dropna()

In [12]:
fecha_minima=pd.to_datetime('2019-04-21 00:00:00')
fecha_tope=pd.to_datetime('2019-04-24 00:00:00')

auctions_ventana2=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana2['tiempo_hasta_aparicion']=(auctions_ventana2['date']-fecha_minima)/ np.timedelta64(24, 'h')
auctions_ventana2['dia_mean']=auctions_ventana2['date'].dt.day
auctions_ventana2['dia_desvio_std']=auctions_ventana2['date'].dt.day
auctions_ventana2_reducido=auctions_ventana2.groupby(['device_id']).agg({"dia_mean" : np.mean,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "std",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min})\
                                                                            .reset_index('device_id')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
auctions_ventana2_reducido=auctions_ventana2_reducido.dropna()

In [13]:
fecha_minima=pd.to_datetime('2019-04-22 00:00:00')
fecha_tope=pd.to_datetime('2019-04-25 00:00:00')

auctions_ventana3=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana3['tiempo_hasta_aparicion']=(auctions_ventana2['date']-fecha_minima)/ np.timedelta64(24, 'h')
auctions_ventana3['dia_mean']=auctions_ventana3['date'].dt.day
auctions_ventana3['dia_desvio_std']=auctions_ventana3['date'].dt.day
auctions_ventana3.head(25)
auctions_ventana3_reducido=auctions_ventana3.groupby(['device_id']).agg({"dia_mean" : np.mean,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "std",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min})\
                                                                            .reset_index('device_id')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
auctions_ventana3_reducido=auctions_ventana3_reducido.dropna()

In [20]:
fecha_minima=pd.to_datetime('2019-04-23 00:00:00')
fecha_tope=pd.to_datetime('2019-04-26 00:00:00')

auctions_ventana4=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana4['tiempo_hasta_aparicion']=(auctions_ventana2['date']-fecha_minima)/ np.timedelta64(24, 'h')
auctions_ventana4['dia_mean']=auctions_ventana4['date'].dt.day
auctions_ventana4['dia_desvio_std']=auctions_ventana4['date'].dt.day
auctions_ventana4.head(25)
auctions_ventana4_reducido=auctions_ventana4.groupby(['device_id']).agg({"dia_mean" : np.mean,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "std",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min})\
                                                                            .reset_index('device_id')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
auctions_ventana4_reducido=auctions_ventana4_reducido.dropna()

In [21]:
fecha_minima=pd.to_datetime('2019-04-24 00:00:00')
fecha_tope=pd.to_datetime('2019-04-27 00:00:00')

auctions_ventana5=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana5['tiempo_hasta_aparicion']=(auctions_ventana2['date']-fecha_minima)/ np.timedelta64(24, 'h')
auctions_ventana5['dia_mean']=auctions_ventana5['date'].dt.day
auctions_ventana5['dia_desvio_std']=auctions_ventana5['date'].dt.day
auctions_ventana5.head(25)
auctions_ventana5_reducido=auctions_ventana1.groupby(['device_id']).agg({"dia_mean" : np.mean,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "std",\
                                                                        'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min})\
                                                                            .reset_index('device_id')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
auctions_ventana5_reducido=auctions_ventana5_reducido.dropna()

In [14]:
installs = pd.read_csv("data/installs.csv", dtype={'auction_type_id': 'float64', 'country': 'int64', 'date': 'str',
                                                   'device_id': 'int64', 'platform':'int64', 'ref_type_id': 'int64',
                                                   'source_id':'int64','ref_hash':'category' }, parse_dates = ['created'],low_memory=False)

installs.head(5)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN,4243443387795468703,3.301378e+18
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060930e+18
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.301378e+18
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18

In [15]:
auctions_ventana1_con_installs=auctions_ventana1_reducido.merge(installs,how='left',left_on='device_id',right_on='ref_hash')

In [16]:
fecha_minima=pd.to_datetime('2019-04-20 00:00:00')
fecha_tope=pd.to_datetime('2019-04-23 00:00:00')


auctions_ventana1_con_installs['tiempo_hasta_instalacion']=(auctions_ventana1_con_installs['created']-fecha_minima)/ np.timedelta64(24, 'h')


auctions_ventana1_reducido=auctions_ventana1_con_installs.groupby(['device_id']).agg({"dia_mean" : min,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "min",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min
                                                                        ,'tiempo_hasta_instalacion':"min"})\
                                                                            .reset_index('device_id')

In [ ]:
auctions_ventana1_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']]=auctions_ventana1_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']].fillna(np.inf)
auctions_ventana1_reducido['entradas_previas']=auctions_ventana1_reducido['entradas_previas'].fillna(0)
auctions_ventana1_reducido.head()

In [17]:
fecha_minima=pd.to_datetime('2019-04-21 00:00:00')
fecha_tope=pd.to_datetime('2019-04-24 00:00:00')
auctions_ventana2_con_installs=auctions_ventana2_reducido.merge(installs,how='left',left_on='device_id',right_on='ref_hash')

auctions_ventana2_con_installs['tiempo_hasta_instalacion']=(auctions_ventana2_con_installs['created']-fecha_minima)/ np.timedelta64(24, 'h')


auctions_ventana2_reducido=auctions_ventana2_con_installs.groupby(['device_id']).agg({"dia_mean" : min,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "min",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min
                                                                        ,'tiempo_hasta_instalacion':"min"})\
                                                                            .reset_index('device_id')
auctions_ventana2_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']]=auctions_ventana2_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']].fillna(np.inf)
auctions_ventana2_reducido['entradas_previas']=auctions_ventana2_reducido['entradas_previas'].fillna(0)
auctions_ventana2_reducido.head()

,device_id,dia_mean,date,dia_desvio_std,tiempo_hasta_aparicion,entradas_previas,tiempo_hasta_instalacion
0,1000055965717261943,21.052632,2019-04-21 06:50:28.726364,0.229416,0.285055,8.0,inf
1,1000061425870948777,21.500000,2019-04-21 00:20:04.165118,0.761577,0.013937,8.0,5.099797
2,1000067364236969361,22.042254,2019-04-22 22:10:03.700023,0.202599,1.923654,0.0,inf
3,1000095322020146100,21.550000,2019-04-21 00:52:32.097171,0.686333,0.036483,27.0,1.088392
4,1000138003886484266,22.000000,2019-04-22 07:26:56.413198,0.000000,1.310375,0.0,-1.085305

In [18]:
fecha_minima=pd.to_datetime('2019-04-22 00:00:00')
fecha_tope=pd.to_datetime('2019-04-25 00:00:00')
auctions_ventana3_con_installs=auctions_ventana3_reducido.merge(installs,how='left',left_on='device_id',right_on='ref_hash')

auctions_ventana3_con_installs['tiempo_hasta_instalacion']=(auctions_ventana3_con_installs['created']-fecha_minima)/ np.timedelta64(24, 'h')


auctions_ventana3_reducido=auctions_ventana3_con_installs.groupby(['device_id']).agg({"dia_mean" : min,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "min",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min
                                                                        ,'tiempo_hasta_instalacion':"min"})\
                                                                            .reset_index('device_id')
auctions_ventana3_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']]=auctions_ventana3_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']].fillna(np.inf)
auctions_ventana3_reducido['entradas_previas']=auctions_ventana3_reducido['entradas_previas'].fillna(0)
auctions_ventana3_reducido.head()

,device_id,dia_mean,date,dia_desvio_std,tiempo_hasta_aparicion,entradas_previas,tiempo_hasta_instalacion
0,1000061425870948777,22.727273,2019-04-22 00:16:31.253703,0.786245,0.011473,25.0,4.099797
1,1000067364236969361,22.121622,2019-04-22 22:10:03.700023,0.436446,0.923654,0.0,inf
2,1000095322020146100,22.769231,2019-04-22 00:53:23.599493,0.926809,0.037079,38.0,0.088392
3,1000138003886484266,22.000000,2019-04-22 07:26:56.413198,0.000000,0.310375,0.0,-2.085305
4,1000169251625791246,23.166667,2019-04-22 06:35:58.338103,0.752773,0.274981,11.0,-0.656873

In [22]:
fecha_minima=pd.to_datetime('2019-04-23 00:00:00')
fecha_tope=pd.to_datetime('2019-04-26 00:00:00')
auctions_ventana4_con_installs=auctions_ventana4_reducido.merge(installs,how='left',left_on='device_id',right_on='ref_hash')

auctions_ventana4_con_installs['tiempo_hasta_instalacion']=(auctions_ventana4_con_installs['created']-fecha_minima)/ np.timedelta64(24, 'h')


auctions_ventana4_reducido=auctions_ventana3_con_installs.groupby(['device_id']).agg({"dia_mean" : min,\
                                                                         "date" : min,\
                                                                         "dia_desvio_std" : "min",\
                                                                         'tiempo_hasta_aparicion':"min",\
                                                                        'entradas_previas':min
                                                                        ,'tiempo_hasta_instalacion':"min"})\
                                                                            .reset_index('device_id')
auctions_ventana4_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']]=auctions_ventana4_reducido[['dia_mean','tiempo_hasta_aparicion','dia_desvio_std','tiempo_hasta_instalacion']].fillna(np.inf)
auctions_ventana4_reducido['entradas_previas']=auctions_ventana4_reducido['entradas_previas'].fillna(0)
auctions_ventana4_reducido.head()

,device_id,dia_mean,date,dia_desvio_std,tiempo_hasta_aparicion,entradas_previas,tiempo_hasta_instalacion
0,1000061425870948777,22.727273,2019-04-22 00:16:31.253703,0.786245,0.011473,25.0,4.099797
1,1000067364236969361,22.121622,2019-04-22 22:10:03.700023,0.436446,0.923654,0.0,inf
2,1000095322020146100,22.769231,2019-04-22 00:53:23.599493,0.926809,0.037079,38.0,0.088392
3,1000138003886484266,22.000000,2019-04-22 07:26:56.413198,0.000000,0.310375,0.0,-2.085305
4,1000169251625791246,23.166667,2019-04-22 06:35:58.338103,0.752773,0.274981,11.0,-0.656873