In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mplt
import matplotlib as plt
import datetime as dati
sns.set()

In [2]:
clicks = pd.read_csv("data/clicks.csv", dtype={'advertiser_id': 'category', 'action_id': 'float64', 'source_id': 'category',
                                               'created': 'str', 'country_code':'category', 'latitude': 'float64',
                                               'longitude':'float64', 'wifi_connection':'bool' , 'carrier_id':np.float16,
                                               'trans_id':'str', 'os_minor':'float64', 'agent_device':'float64', 'os_major':'float64',
                                               'specs_brand':'int64', 'brand':'category', 'timeToClick':'float64',
                                                'ref_type':'category', 'ref_hash':'int64'}, parse_dates = ['created'])
clicks.dtypes

D:\Users\Lucas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

advertiser_id                 category
action_id                      float64
source_id                     category
created            datetime64[ns, UTC]
country_code                  category
latitude                       float64
longitude                      float64
wifi_connection                   bool
carrier_id                     float16
trans_id                        object
os_minor                       float64
agent_device                   float64
os_major                       float64
specs_brand                      int64
brand                         category
timeToClick                    float64
touchX                          object
touchY                          object
ref_type                      category
ref_hash                         int64
dtype: object

In [3]:
clicks.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,1,NaN,2,2019-04-18 05:27:42.197000+00:00,6287817205707153877,1.714547,0.871535,False,3.0,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,1.517644e+18,NaN,5.131616e+18,71913840936116953,0.0,2.317,0.968,0.503,1891515180541284343,1293710398598742392
1,1,NaN,1,2019-04-18 05:27:03.164000+00:00,6287817205707153877,1.714512,0.871062,True,2.0,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,1.288578e+18,NaN,3.908390e+18,3576558787748411622,1.0,7.653,0.712,1.689,1891515180541284343,1663930990551616564
2,1,NaN,1,2019-04-18 05:42:07.926000+00:00,6287817205707153877,1.714547,0.871535,True,4.0,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,2.238736e+18,NaN,3.581233e+18,3576558787748411622,NaN,464.796,0.227,0.251,1891515180541284343,8488038938665586188
3,1,NaN,1,2019-04-18 05:26:04.446000+00:00,6287817205707153877,1.708041,0.870772,True,1.0,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,2.411640e+18,NaN,3.908390e+18,3576558787748411622,NaN,225.311,0.696,6.587,1891515180541284343,6488361690105189959
4,1,NaN,1,2019-04-18 05:23:37.764000+00:00,6287817205707153877,1.715514,0.870772,True,2.0,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,1.517644e+18,NaN,5.131616e+18,3576558787748411622,0.0,84.736,0.059,0.142,1891515180541284343,1348993302102753419

In [4]:
clicks['agent_device'].value_counts()

6.794880e+18    3377
9.173807e+18     385
9.186120e+18     362
1.954092e+18     339
2.827096e+17     252
3.017401e+18     195
3.861844e+18     164
2.544397e+18     144
8.404995e+18     143
2.658623e+18     119
7.060110e+18     115
4.551841e+18     102
6.415096e+18      89
7.758862e+18      87
4.062435e+18      82
6.857385e+18      81
3.442253e+18      79
3.936111e+18      76
4.825617e+18      66
2.044378e+18      65
8.484732e+18      64
5.572220e+18      60
5.633254e+18      58
6.395797e+18      58
7.207282e+18      56
1.805456e+18      55
5.274185e+18      54
4.341129e+18      52
4.076410e+18      49
2.632081e+18      48
                ...
3.717137e+18       1
6.685658e+18       1
6.323233e+18       1
3.963014e+18       1
3.687214e+18       1
3.293619e+18       1
5.177246e+18       1
8.566802e+18       1
7.372628e+18       1
4.001632e+18       1
6.682050e+18       1
8.874349e+18       1
3.671243e+18       1
2.689238e+18       1
3.891344e+18       1
3.691391e+18       1
7.419679e+17       1
8.600513e+18       1
7.515611e+18       1
6.642610e+18       1
4.551864e+18       1
2.443857e+18       1
5.990770e+18       1
6.351674e+18       1
1.437591e+18       1
6.715531e+18       1
7.336007e+18       1
3.709066e+18       1
8.892674e+18       1
7.399399e+18       1
Name: agent_device, Length: 313, dtype: int64

In [5]:
clicks=pd.get_dummies(clicks,columns=['wifi_connection','specs_brand'])

In [6]:
clicks.head()

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,carrier_id,trans_id,os_minor,...,touchY,ref_type,ref_hash,wifi_connection_False,wifi_connection_True,specs_brand_71913840936116953,specs_brand_784329784168794382,specs_brand_3576558787748411622,specs_brand_4222063286888578800,specs_brand_6341583823913642480
0,1,NaN,2,2019-04-18 05:27:42.197000+00:00,6287817205707153877,1.714547,0.871535,3.0,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,1.517644e+18,...,0.503,1891515180541284343,1293710398598742392,1,0,1,0,0,0,0
1,1,NaN,1,2019-04-18 05:27:03.164000+00:00,6287817205707153877,1.714512,0.871062,2.0,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,1.288578e+18,...,1.689,1891515180541284343,1663930990551616564,0,1,0,0,1,0,0
2,1,NaN,1,2019-04-18 05:42:07.926000+00:00,6287817205707153877,1.714547,0.871535,4.0,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,2.238736e+18,...,0.251,1891515180541284343,8488038938665586188,0,1,0,0,1,0,0
3,1,NaN,1,2019-04-18 05:26:04.446000+00:00,6287817205707153877,1.708041,0.870772,1.0,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,2.411640e+18,...,6.587,1891515180541284343,6488361690105189959,0,1,0,0,1,0,0
4,1,NaN,1,2019-04-18 05:23:37.764000+00:00,6287817205707153877,1.715514,0.870772,2.0,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs,1.517644e+18,...,0.142,1891515180541284343,1348993302102753419,0,1,0,0,1,0,0

In [7]:
clicks['mean_hour']=(clicks['created'].dt.hour+clicks['created'].dt.minute/60+clicks['created'].dt.second/3600).astype(float)
clicks['std_hour']=(clicks['created'].dt.hour+clicks['created'].dt.minute/60+clicks['created'].dt.second/3600).astype(float)

In [8]:
clicks=clicks.sort_values(by='created')

In [9]:
mean_hour_gb=clicks.groupby(['ref_hash'])['mean_hour'].expanding(2).mean()

In [10]:
std_hour_gb=clicks.groupby(['ref_hash'])['std_hour'].expanding(2).std()

In [11]:
clicks_time_to_click_mean=clicks.groupby(['ref_hash'])['timeToClick'].expanding(2).mean()

In [12]:
clicks_time_to_click_std=clicks.groupby(['ref_hash'])['timeToClick'].expanding(2).mean()

In [13]:
clicks['time_to_click_min']=clicks['timeToClick']

In [14]:
clicks['time_to_click_max']=clicks['timeToClick']

In [15]:
features_time_to_click=clicks.groupby('ref_hash').agg({'time_to_click_min':'cummin', 'time_to_click_max':'cummax'})

In [16]:
features_time_to_click.head(10)

       time_to_click_min  time_to_click_max
32143             19.296             19.296
61932            625.859            625.859
1828              29.908             29.908
1833             377.566            377.566
1832             141.725            141.725
1824               2.719              2.719
1835               4.112              4.112
61937              7.901              7.901
61935                NaN                NaN
1827            2588.151           2588.151

In [17]:
clicks['std_longitude']=clicks['longitude']

In [18]:
clicks['mean_longitude']=clicks['longitude']

In [19]:
mean_longitude_gb=clicks.groupby(['ref_hash'])['mean_longitude'].expanding(2).mean()

In [20]:
std_longitude_gb=clicks.groupby(['ref_hash'])['std_longitude'].expanding(2).std()

In [21]:
clicks['std_latitude']=clicks['latitude']

In [22]:
clicks['mean_latitude']=clicks['latitude']

In [23]:
mean_latitude_gb=clicks.groupby(['ref_hash'])['mean_latitude'].expanding(2).mean()

In [24]:
std_latitude_gb=clicks.groupby(['ref_hash'])['std_longitude'].expanding(2).std()