In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import seaborn as sns
import datetime as dat
import matplotlib as mplt
import datetime as dt
import xgboost as xgb
%matplotlib inline
sns.set()

In [2]:
auctions = pd.read_csv("../data/auctions.csv", dtype={'date': 'str','device_id': 'category', 'ref_type_id': 'category','source_id':'category'}, parse_dates = ['date'])
auctions.drop('ref_type_id', axis=1, inplace = True)
auctions.drop('source_id', axis=1, inplace = True)
auctions.head(5)

                        date            device_id
0 2019-04-23 18:58:00.842116  2564673204772915246
1 2019-04-23 18:58:01.530771  4441121667607578179
2 2019-04-23 18:58:01.767562  7721769811471055264
3 2019-04-23 18:58:02.363468  6416039086842158968
4 2019-04-23 18:58:02.397559  1258642015983312729

In [3]:
auctions=auctions.sort_values(by='date')

In [4]:
fecha_minima=pd.to_datetime('2019-04-21 00:00:00')
fecha_tope=pd.to_datetime('2019-04-24 00:00:00')
auctions_ventana1=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana1['tiempo_hasta_aparicion']=(auctions_ventana1['date']-fecha_minima)/ np.timedelta64(1, 's')
auctions_ventana1.drop('date', axis=1, inplace = True)
auctions_ventana1_reducido=auctions_ventana1.groupby(['device_id']).agg('min')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
#auctions_ventana1_reducido=auctions_ventana1_reducido.dropna()

In [5]:
fecha_minima=pd.to_datetime('2019-04-22 00:00:00')
fecha_tope=pd.to_datetime('2019-04-25 00:00:00')

auctions_ventana2=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana2['tiempo_hasta_aparicion']=(auctions_ventana2['date']-fecha_minima)/ np.timedelta64(1, 's')
auctions_ventana2.drop('date', axis=1, inplace = True)
auctions_ventana2_reducido=auctions_ventana2.groupby(['device_id']).agg('min')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
#auctions_ventana2_reducido=auctions_ventana2_reducido.dropna()

In [6]:
fecha_minima=pd.to_datetime('2019-04-23 00:00:00')
fecha_tope=pd.to_datetime('2019-04-26 00:00:00')

auctions_ventana3=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana3['tiempo_hasta_aparicion']=(auctions_ventana3['date']-fecha_minima)/ np.timedelta64(1, 's')
auctions_ventana3.drop('date', axis=1, inplace = True)
auctions_ventana3_reducido=auctions_ventana3.groupby(['device_id']).agg("min")
#auctions_ventana3_reducido=auctions_ventana3_reducido.dropna()

In [7]:
fecha_minima=pd.to_datetime('2019-04-24 00:00:00')
fecha_tope=pd.to_datetime('2019-04-27 00:00:00')

auctions_ventana4=auctions.loc[((auctions['date']>fecha_minima) & (auctions['date']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de dias
auctions_ventana4['tiempo_hasta_aparicion']=(auctions_ventana4['date']-fecha_minima)/ np.timedelta64(1, 's')
auctions_ventana4.drop('date', axis=1, inplace = True)
auctions_ventana4_reducido=auctions_ventana4.groupby(['device_id']).agg(min)
#entradas previas no se debe usar para predecir en esta ventana, sino para                
#auctions_ventana4_reducido=auctions_ventana4_reducido.dropna()

In [8]:
auctions_ventana2_reducido.head()

                     tiempo_hasta_aparicion
device_id
100033926124811452             97850.587009
1000400432115255220           108811.087868
1001123163431776865             1055.199447
1001144380199556647              169.574286
1001358436431521709            32182.433293

In [9]:
auctions_ventana1_reducido.to_csv('../xgb/labels_st_ventana1.csv')
auctions_ventana2_reducido.to_csv('../xgb/labels_st_ventana2.csv')
auctions_ventana3_reducido.to_csv('../xgb/labels_st_ventana3.csv')
auctions_ventana4_reducido.to_csv('../xgb/labels_st_ventana4.csv')