In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dat
import matplotlib as mplt
import datetime as dt
import xgboost as xgb
%matplotlib inline
sns.set()

In [2]:
installs = pd.read_csv("data/installs.csv", dtype={'auction_type_id': 'float64', 'country': 'int64', 'date': 'str',
                                                   'device_id': 'int64', 'platform':'int64', 'ref_type_id': 'int64',
                                                   'source_id':'int64','ref_hash':'category' }, parse_dates = ['created'],low_memory=False)

installs.head(5)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN,4243443387795468703,3.301378e+18
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060930e+18
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.301378e+18
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18

In [3]:
installs=installs.sort_values(by='created')

In [4]:
installs=pd.get_dummies(installs, columns=[ "attributed",'implicit','wifi'])

In [5]:
installs['kind']=installs['kind'].fillna('otro')

In [6]:
installs.head()

,created,application_id,ref_type,ref_hash,click_hash,device_countrycode,device_brand,device_model,session_user_agent,user_agent,...,kind,trans_id,ip_address,device_language,attributed_False,attributed_True,implicit_False,implicit_True,wifi_False,wifi_True
94738,2019-04-18 00:00:01.560,70,1891515180541284343,4432995619177048534,NaN,6287817205707153877,NaN,NaN,Apsalar-Postback,NaN,...,otro,NaN,8409380583076227678,NaN,1,0,1,0,0,0
94737,2019-04-18 00:00:01.851,70,1891515180541284343,5904733559638204455,NaN,6287817205707153877,NaN,NaN,Apsalar-Postback,NaN,...,otro,NaN,806493034070542041,NaN,1,0,1,0,0,0
111877,2019-04-18 00:00:05.152,65,1891515180541284343,896373747754111825,NaN,6287817205707153877,3.083059e+17,5.274185e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 9; SM-G9650 Bu...,...,af_app_opened,NaN,6319394158544413414,6.977049e+18,1,0,0,1,1,0
76146,2019-04-18 00:00:05.589,27,1494519392962156891,3399210824535017892,NaN,6287817205707153877,NaN,6.794880e+18,http-kit/2.0,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,...,otro,NaN,4206683315615624585,5.221863e+18,1,0,1,0,0,1
435184,2019-04-18 00:00:06.795,339,1494519392962156891,1541425881979513687,NaN,6287817205707153877,NaN,6.794880e+18,http-kit/2.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0,...,otro,NaN,8335834010411202437,7.528974e+18,1,0,1,0,0,1

In [7]:
installs=installs.drop(['click_hash','device_countrycode'],axis=1)

In [8]:
installs.head()

,created,application_id,ref_type,ref_hash,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,trans_id,ip_address,device_language,attributed_False,attributed_True,implicit_False,implicit_True,wifi_False,wifi_True
94738,2019-04-18 00:00:01.560,70,1891515180541284343,4432995619177048534,NaN,NaN,Apsalar-Postback,NaN,NaN,otro,NaN,8409380583076227678,NaN,1,0,1,0,0,0
94737,2019-04-18 00:00:01.851,70,1891515180541284343,5904733559638204455,NaN,NaN,Apsalar-Postback,NaN,NaN,otro,NaN,806493034070542041,NaN,1,0,1,0,0,0
111877,2019-04-18 00:00:05.152,65,1891515180541284343,896373747754111825,3.083059e+17,5.274185e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 9; SM-G9650 Bu...,8c8af5e3-96e7-4a49-9f17-cafa7f300f2c,af_app_opened,NaN,6319394158544413414,6.977049e+18,1,0,0,1,1,0
76146,2019-04-18 00:00:05.589,27,1494519392962156891,3399210824535017892,NaN,6.794880e+18,http-kit/2.0,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,NaN,otro,NaN,4206683315615624585,5.221863e+18,1,0,1,0,0,1
435184,2019-04-18 00:00:06.795,339,1494519392962156891,1541425881979513687,NaN,6.794880e+18,http-kit/2.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0,NaN,otro,NaN,8335834010411202437,7.528974e+18,1,0,1,0,0,1

In [9]:
installs=installs.drop(['event_uuid','trans_id'],axis=1)
installs.head()

,created,application_id,ref_type,ref_hash,device_brand,device_model,session_user_agent,user_agent,kind,ip_address,device_language,attributed_False,attributed_True,implicit_False,implicit_True,wifi_False,wifi_True
94738,2019-04-18 00:00:01.560,70,1891515180541284343,4432995619177048534,NaN,NaN,Apsalar-Postback,NaN,otro,8409380583076227678,NaN,1,0,1,0,0,0
94737,2019-04-18 00:00:01.851,70,1891515180541284343,5904733559638204455,NaN,NaN,Apsalar-Postback,NaN,otro,806493034070542041,NaN,1,0,1,0,0,0
111877,2019-04-18 00:00:05.152,65,1891515180541284343,896373747754111825,3.083059e+17,5.274185e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 9; SM-G9650 Bu...,af_app_opened,6319394158544413414,6.977049e+18,1,0,0,1,1,0
76146,2019-04-18 00:00:05.589,27,1494519392962156891,3399210824535017892,NaN,6.794880e+18,http-kit/2.0,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,otro,4206683315615624585,5.221863e+18,1,0,1,0,0,1
435184,2019-04-18 00:00:06.795,339,1494519392962156891,1541425881979513687,NaN,6.794880e+18,http-kit/2.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0,otro,8335834010411202437,7.528974e+18,1,0,1,0,0,1

In [10]:
installs['attributed_False']=installs.groupby('ref_hash')['attributed_False'].cumsum()

In [11]:
installs['attributed_True']=installs.groupby('ref_hash')['attributed_True'].cumsum()

In [12]:
list(installs.columns.values)

['created',
 'application_id',
 'ref_type',
 'ref_hash',
 'device_brand',
 'device_model',
 'session_user_agent',
 'user_agent',
 'kind',
 'ip_address',
 'device_language',
 'attributed_False',
 'attributed_True',
 'implicit_False',
 'implicit_True',
 'wifi_False',
 'wifi_True']

In [13]:
installs['implicit_False']=installs.groupby('ref_hash')['implicit_False'].cumsum()

In [14]:
installs['implicit_True']=installs.groupby('ref_hash')['implicit_True'].cumsum()

In [15]:
installs['kind'].value_counts()

otro                            378343
Open                             37257
af_app_opened                    27845
app_open                          8635
app open                          7134
Sign In                           3822
list view                         3665
OPEN                              3271
login_success                     1627
pax_app_open                      1570
product view                       800
EVENT_OPEN_APP                     679
product_preview                    646
account_summary_first_step         505
deeplink_open                      388
Pre_checkout                       365
adjust_uninstall                   338
reattribution                      332
Add_to_cart                        292
af_view_product                    228
sessionbegin                       198
af app open                        154
af_app_opend                       154
1st_ride                           141
af_content_view                    137
MobileSignup                       133
install                            122
Session Begin                      119
App First Start                    115
Add_Payment                        110
                                 ...
ViewItem                             1
EVENT_VIEWCART_FLIGHTS               1
completedstep1lesson1                1
Flight Search                        1
registration_started                 1
pax_login                            1
ad_reply_submit                      1
appopen                              1
EVENT_PRODUCTVIEW_HOTELS             1
Complete FTUE                        1
trackVideoStart                      1
viewListing                          1
App open                             1
iOS AppLaunch                        1
cellphone_recharge_success           1
Day 1 Event                          1
Launch Trial Page                    1
search_initiated                     1
Open App                             1
buy_investment                       1
Outclicks                            1
Hotel Content                        1
purchase_off_success                 1
viewHome                             1
get_hel                              1
Renewal                              1
cityguide                            1
First_order_placed_confirmed         1
Video View                           1
EVENT_LISTINGVIEW_HOTEL              1
Name: kind, Length: 184, dtype: int64

In [16]:
contador_aplicaciones=installs[['ref_hash','application_id']].drop_duplicates().groupby('ref_hash').cumcount() + 1
contador_aplicaciones=contador_aplicaciones.reindex(installs.index).ffill()

In [17]:
contador_aplicaciones=contador_aplicaciones.to_frame()
contador_aplicaciones.head()

          0
94738   1.0
94737   1.0
111877  1.0
76146   1.0
435184  1.0

In [18]:
contador_aplicaciones=contador_aplicaciones.rename(columns = {0:'aplicaciones_distintas_ingresadas'})

In [19]:
contador_aplicaciones.to_csv('data/installs_contador_aplicaciones.csv')

In [20]:
contador_ip=installs[['ref_hash','ip_address']].drop_duplicates().groupby('ref_hash').cumcount() + 1
contador_ip=contador_ip.reindex(installs.index).ffill()
contador_ip=contador_ip.to_frame()
contador_ip.head()

          0
94738   1.0
94737   1.0
111877  1.0
76146   1.0
435184  1.0

In [21]:
app_mas_visitada=installs.groupby(['ref_hash','application_id']).cumcount() +1
app_mas_visitada=app_mas_visitada.to_frame()

app_mas_visitada=app_mas_visitada.rename(columns = {0:'conteo_en_app_mas_visitada'})
app_mas_visitada.head(30)

        conteo_en_app_mas_visitada
94738                            1
94737                            1
111877                           1
76146                            1
435184                           1
369451                           1
111862                           2
111889                           1
440883                           1
465248                           1
40643                            1
53975                            1
111875                           1
82923                            1
111866                           1
70801                            1
465257                           1
111882                           1
465258                           2
465261                           1
308759                           1
465262                           2
369453                           1
40635                            1
152014                           1
102489                           1
40637                            2
152012                           1
173524                           1
82921                            1

In [22]:
installs=installs.merge(app_mas_visitada,how='left', left_index=True, right_index=True)
installs.head()

,created,application_id,ref_type,ref_hash,device_brand,device_model,session_user_agent,user_agent,kind,ip_address,device_language,attributed_False,attributed_True,implicit_False,implicit_True,wifi_False,wifi_True,conteo_en_app_mas_visitada
94738,2019-04-18 00:00:01.560,70,1891515180541284343,4432995619177048534,NaN,NaN,Apsalar-Postback,NaN,otro,8409380583076227678,NaN,1,0,1,0,0,0,1
94737,2019-04-18 00:00:01.851,70,1891515180541284343,5904733559638204455,NaN,NaN,Apsalar-Postback,NaN,otro,806493034070542041,NaN,1,0,1,0,0,0,1
111877,2019-04-18 00:00:05.152,65,1891515180541284343,896373747754111825,3.083059e+17,5.274185e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 9; SM-G9650 Bu...,af_app_opened,6319394158544413414,6.977049e+18,1,0,0,1,1,0,1
76146,2019-04-18 00:00:05.589,27,1494519392962156891,3399210824535017892,NaN,6.794880e+18,http-kit/2.0,trivago/216 CFNetwork/978.0.7 Darwin/18.5.0,otro,4206683315615624585,5.221863e+18,1,0,1,0,0,1,1
435184,2019-04-18 00:00:06.795,339,1494519392962156891,1541425881979513687,NaN,6.794880e+18,http-kit/2.0,TikTok/109005 CFNetwork/758.5.3 Darwin/15.6.0,otro,8335834010411202437,7.528974e+18,1,0,1,0,0,1,1

In [23]:
installs_por_app_mas_importante=installs[['ref_hash','application_id','conteo_en_app_mas_visitada']]
installs_por_app_mas_importante=installs.groupby('ref_hash')['application_id'].agg({'conteo_en_app_mas_visitada' : "cummax"})
installs_por_app_mas_importante=installs_por_app_mas_importante.rename({'conteo_en_app_mas_visitada':'app_mas_instalada'},axis=1)
installs_por_app_mas_importante.head()

D:\Users\Lucas\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

        app_mas_instalada
94738                  70
94737                  70
111877                 65
76146                  27
435184                339

In [24]:
installs=installs.merge(installs_por_app_mas_importante,how='left', left_index=True, right_index=True)

In [25]:
installs['kind'].value_counts()

otro                            378343
Open                             37257
af_app_opened                    27845
app_open                          8635
app open                          7134
Sign In                           3822
list view                         3665
OPEN                              3271
login_success                     1627
pax_app_open                      1570
product view                       800
EVENT_OPEN_APP                     679
product_preview                    646
account_summary_first_step         505
deeplink_open                      388
Pre_checkout                       365
adjust_uninstall                   338
reattribution                      332
Add_to_cart                        292
af_view_product                    228
sessionbegin                       198
af app open                        154
af_app_opend                       154
1st_ride                           141
af_content_view                    137
MobileSignup                       133
install                            122
Session Begin                      119
App First Start                    115
Add_Payment                        110
                                 ...
ViewItem                             1
EVENT_VIEWCART_FLIGHTS               1
completedstep1lesson1                1
Flight Search                        1
registration_started                 1
pax_login                            1
ad_reply_submit                      1
appopen                              1
EVENT_PRODUCTVIEW_HOTELS             1
Complete FTUE                        1
trackVideoStart                      1
viewListing                          1
App open                             1
iOS AppLaunch                        1
cellphone_recharge_success           1
Day 1 Event                          1
Launch Trial Page                    1
search_initiated                     1
Open App                             1
buy_investment                       1
Outclicks                            1
Hotel Content                        1
purchase_off_success                 1
viewHome                             1
get_hel                              1
Renewal                              1
cityguide                            1
First_order_placed_confirmed         1
Video View                           1
EVENT_LISTINGVIEW_HOTEL              1
Name: kind, Length: 184, dtype: int64

In [26]:
kind_mas_visitada=installs.groupby(['ref_hash','kind']).cumcount() +1
kind_mas_visitada=kind_mas_visitada.to_frame()

kind_mas_visitada=kind_mas_visitada.rename(columns = {0:'conteo_en_kind_mas_visitada'})
kind_mas_visitada.head(30)

        conteo_en_kind_mas_visitada
94738                             1
94737                             1
111877                            1
76146                             1
435184                            1
369451                            1
111862                            1
111889                            1
440883                            1
465248                            1
40643                             1
53975                             1
111875                            1
82923                             1
111866                            1
70801                             1
465257                            1
111882                            1
465258                            1
465261                            1
308759                            1
465262                            1
369453                            1
40635                             1
152014                            1
102489                            1
40637                             1
152012                            1
173524                            1
82921                             1

In [27]:
installs=installs.merge(kind_mas_visitada,how='left', left_index=True, right_index=True)

In [28]:
installs.dtypes

created                        datetime64[ns]
application_id                          int64
ref_type                                int64
ref_hash                             category
device_brand                          float64
device_model                          float64
session_user_agent                     object
user_agent                             object
kind                                   object
ip_address                              int64
device_language                       float64
attributed_False                        uint8
attributed_True                         uint8
implicit_False                          uint8
implicit_True                           uint8
wifi_False                              uint8
wifi_True                               uint8
conteo_en_app_mas_visitada              int64
app_mas_instalada                       int64
conteo_en_kind_mas_visitada             int64
dtype: object

In [29]:
installs['kind']=installs['kind'].apply(hash)# si no se hashea no sirve para predecir
installs_por_kind_mas_importante=installs[['ref_hash','kind','conteo_en_kind_mas_visitada']]
installs_por_kind_mas_importante=installs_por_kind_mas_importante.groupby('ref_hash')['kind'].agg({'conteo_en_kind_mas_visitada' : "cummax"})
installs_por_kind_mas_importante=installs_por_kind_mas_importante.rename({'conteo_en_kind_mas_visitada':'kind_mas_instalada'},axis=1)
installs_por_kind_mas_importante.head()

D:\Users\Lucas\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

         kind_mas_instalada
94738   7777454803931452639
94737   7777454803931452639
111877  8199025961662630589
76146   7777454803931452639
435184  7777454803931452639

In [42]:
installs=installs.merge(installs_por_kind_mas_importante,how='left', left_index=True, right_index=True)
installs.dtypes

created                        datetime64[ns]
application_id                          int64
ref_type                                int64
ref_hash                             category
device_brand                          float64
device_model                          float64
session_user_agent                     object
user_agent                             object
kind                                    int64
ip_address                              int64
device_language                       float64
attributed_False                        uint8
attributed_True                         uint8
implicit_False                          uint8
implicit_True                           uint8
wifi_False                              uint8
wifi_True                               uint8
conteo_en_app_mas_visitada              int64
app_mas_instalada                       int64
conteo_en_kind_mas_visitada             int64
kind_mas_instalada_x                    int64
kind_mas_instalada_y                    int64
dtype: object

In [40]:
fecha_minima=pd.to_datetime('2019-04-24 00:00:00')
fecha_tope=pd.to_datetime('2019-04-27 00:00:00')

installs_ventana5=installs.loc[((installs['created']>fecha_minima) & (installs['created']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de segundos
installs_ventana5['tiempo_hasta_aparicion']=(installs_ventana5['created']-fecha_minima)/ np.timedelta64(1, 's')
installs_ventana5.head(25)
installs_ventana5=installs_ventana5.groupby(['ref_hash']).aggregate({"created" : min,\
                                                                         'attributed_False': 'first',\
                                                                        'attributed_True': 'first',\
                                                                        'conteo_en_kind_mas_visitada':'first',\
                                                                        'app_mas_instalada':'first',\
                                                                        'conteo_en_app_mas_visitada':'first',\
                                                                       # 'device_brand':'idxmax',\
                                                                        #'device_model':'idxmax',\
                                                                        'wifi_True':'first',\
                                                                        'wifi_False':'first',\
                                                                         'implicit_True':'first',\
                                                                        'implicit_False': 'first',\
                                                                        #'entradas_previas':min,\
                                                                           'tiempo_hasta_aparicion':"min"})\
                                                                            .reset_index('ref_hash')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
installs_ventana5=installs_ventana5.dropna()

In [41]:
installs_ventana5.head()

,ref_hash,created,attributed_False,attributed_True,conteo_en_kind_mas_visitada,app_mas_instalada,conteo_en_app_mas_visitada,wifi_True,wifi_False,implicit_True,implicit_False,tiempo_hasta_aparicion
1,1000061425870948777,2019-04-26 02:23:42.436,1.0,0.0,1.0,122.0,1.0,0.0,0.0,0.0,1.0,181422.436
3,1000085014918096773,2019-04-24 01:38:08.649,1.0,0.0,1.0,86.0,1.0,0.0,0.0,0.0,1.0,5888.649
9,1000193663803871158,2019-04-26 18:21:47.595,1.0,0.0,1.0,36.0,1.0,1.0,0.0,0.0,1.0,238907.595
11,1000252911429490816,2019-04-26 19:06:32.080,1.0,0.0,1.0,121.0,1.0,1.0,0.0,0.0,1.0,241592.080
16,1000298337185304784,2019-04-26 04:22:30.814,1.0,0.0,1.0,14.0,1.0,0.0,0.0,0.0,1.0,188550.814

In [43]:
fecha_minima=pd.to_datetime('2019-04-21 00:00:00')
fecha_tope=pd.to_datetime('2019-04-24 00:00:00')

installs_ventana3=installs.loc[((installs['created']>fecha_minima) & (installs['created']<fecha_tope) )].copy(deep=False)
#la division es para pasar la diferencia de tiempso de timedelta a float de segundos
installs_ventana3['tiempo_hasta_aparicion']=(installs_ventana3['created']-fecha_minima)/ np.timedelta64(1, 's')
installs_ventana3.head(25)
installs_ventana3=installs_ventana3.groupby(['ref_hash']).aggregate({"created" : min,\
                                                                         'attributed_False': 'first',\
                                                                        'attributed_True': 'first',\
                                                                        'conteo_en_kind_mas_visitada':'first',\
                                                                        'app_mas_instalada':'first',\
                                                                        'conteo_en_app_mas_visitada':'first',\
                                                                       # 'device_brand':'idxmax',\
                                                                        #'device_model':'idxmax',\
                                                                        'wifi_True':'first',\
                                                                        'wifi_False':'first',\
                                                                         'implicit_True':'first',\
                                                                        'implicit_False': 'first',\
                                                                        #'entradas_previas':min,\
                                                                           'tiempo_hasta_aparicion':"min"})\
                                                                            .reset_index('ref_hash')
#entradas previas no se debe usar para predecir en esta ventana, sino para                
installs_ventana3=installs_ventana3.dropna()