In [34]:
import pandas as pd
%config IPCompleter.greedy=True
import numpy as np
%config IPCompleter.greedy=True
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

In [35]:
installs = pd.read_csv("/home/franco/Documents/Organizaci√≥n de Datos/TP1/data/installs.csv")

installs.drop('click_hash', axis=1, inplace = True)
installs['created']=pd.to_datetime(installs['created'], errors = 'coerce')
installs.head(5)

,created,application_id,ref_type,ref_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-03-13 01:43:33.445,0,1891515180541284343,8464844987297247076,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,5529284367937637301,NaN
1,2019-03-13 04:58:35.078,0,1891515180541284343,3250564871270161533,False,False,6333597102633388268,3.083059e+17,4.445252e+18,NaN,NaN,NaN,NaN,NaN,NaN,6098022721363533304,NaN
2,2019-03-13 04:20:57.666,0,1891515180541284343,7953318831018100268,False,True,6333597102633388268,5.137992e+17,6.026543e+18,HasOffers Mobile AppTracking v1.0,NaN,0bfa9b4c-e07a-4522-b32d-138e3165ac98,Open,NaN,NaN,4636407223847323867,3.301378e+18
3,2019-03-13 04:20:57.698,0,1891515180541284343,7953318831018100268,False,False,6333597102633388268,5.137992e+17,6.026543e+18,NaN,NaN,NaN,NaN,NaN,NaN,4636407223847323867,NaN
4,2019-03-10 22:24:56.684,0,1891515180541284343,8355110941557237501,False,True,6333597102633388268,1.083369e+18,7.876612e+18,HasOffers Mobile AppTracking v1.0,NaN,8f235a8c-41bf-4399-b33d-c41577c949b0,Open,NaN,NaN,685400811232710215,3.301378e+18

In [36]:
installs.dtypes

created               datetime64[ns]
application_id                 int64
ref_type                       int64
ref_hash                       int64
attributed                      bool
implicit                        bool
device_countrycode             int64
device_brand                 float64
device_model                 float64
session_user_agent            object
user_agent                    object
event_uuid                    object
kind                          object
wifi                          object
trans_id                      object
ip_address                     int64
device_language              float64
dtype: object

In [37]:
installs.shape

(3412, 17)

In [38]:
installs['attributed'].value_counts()

False    3412
Name: attributed, dtype: int64

In [39]:
installs.drop('attributed', axis = 1 , inplace = True)
#Ningun install es de jampp

In [40]:
events = pd.read_csv("/home/franco/Documents/Organizaci√≥n de Datos/TP1/data/events.csv", dtype={'date': 'str', 'event_id': np.int16, 'ref_type': 'category',
                                               'ref_hash': 'int64', 'application_id':np.int16, 'attributed': 'bool',
                                               'device_countrycode': 'int64', 'device_os_version':'float64', 'device_brand': 'float64',
                                               'device_model': 'float64', 'device_city':'float64', 'session_user_agent': 'float64',
                                               'trans_id': 'str', 'user_agent':'float64', 'event_uuid': 'str',
                                               'carrier': 'float64', 'kind':'float64', 'device_os': 'category',
                                               'wifi': np.float16, 'connection_type':'str', 'ip_address': 'int64',
                                               'device_language': 'float64'}, parse_dates = ['date'])
events.head(5)

,date,event_id,ref_type,ref_hash,application_id,attributed,device_countrycode,device_os_version,device_brand,device_model,...,trans_id,user_agent,event_uuid,carrier,kind,device_os,wifi,connection_type,ip_address,device_language
0,2019-03-05 00:09:36.966,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,a9c0b263-acb2-4577-92c5-cbde5d7a5db1,2.248157e+17,5.516623e+18,7.531669329342818e+18,255.0,Cable/DSL,7858558567428669000,4.077062e+17
1,2019-03-05 00:09:38.920,1,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,1cd98205-0d97-4ec2-a019-667997dbfe7a,2.248157e+17,9.977660e+17,7.531669329342818e+18,255.0,Cable/DSL,7858558567428669000,4.077062e+17
2,2019-03-05 00:09:26.195,0,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,f02e2924-21ae-492b-b625-9021ae0a4eca,2.248157e+17,5.516623e+18,7.531669329342818e+18,255.0,Cable/DSL,7858558567428669000,4.077062e+17
3,2019-03-05 00:09:31.107,2,1891515180541284343,2688759737656491380,38,False,6333597102633388268,5.908703e+17,NaN,5.990117e+18,...,NaN,NaN,a813cf45-a36e-4668-85e2-5395f1564e98,2.248157e+17,8.561153e+18,7.531669329342818e+18,255.0,Cable/DSL,6324037615828123965,4.077062e+17
4,2019-03-09 21:00:36.585,3,1891515180541284343,2635154697734164782,38,False,6333597102633388268,7.391844e+18,NaN,5.960896e+18,...,NaN,NaN,63a4f0aa-e147-469f-8c55-4ca4f8d0e310,2.248157e+17,8.731902e+17,7.531669329342818e+18,255.0,Cable/DSL,2894495631302821483,3.301378e+18

In [41]:
events.dtypes

date                  datetime64[ns]
event_id                       int16
ref_type                    category
ref_hash                       int64
application_id                 int16
attributed                      bool
device_countrycode             int64
device_os_version            float64
device_brand                 float64
device_model                 float64
device_city                  float64
session_user_agent           float64
trans_id                      object
user_agent                   float64
event_uuid                    object
carrier                      float64
kind                         float64
device_os                   category
wifi                         float16
connection_type               object
ip_address                     int64
device_language              float64
dtype: object

In [42]:
clicks = pd.read_csv("/home/franco/Documents/Organizaci√≥n de Datos/TP1/data/clicks.csv", dtype={'advertiser_id': 'category', 'action_id': 'float64', 'source_id': 'category',
                                               'created': 'str', 'country_code':'category', 'latitude': 'float64',
                                               'longitude':'float64', 'wifi_connection':'bool' , 'carrier_id':np.float16,
                                               'trans_id':'str', 'os_minor':'float64', 'agent_device':'float64', 'os_major':'float64',
                                               'specs_brand':'int64', 'brand':'category', 'timeToClick':'float64',
                                               'touchX':'float64', 'touchY':'float64', 'ref_type':'category', 'ref_hash':'int64'}, parse_dates = ['created'])
clicks.drop('action_id', axis=1, inplace = True)
clicks['day_of_week'] = clicks['created'].dt.dayofweek
clicks['hour'] = clicks['created'].dt.hour
clicks.head(5)

,advertiser_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,...,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash,day_of_week,hour
0,2,4,2019-03-06 22:42:12.755,6333597102633388268,1.205689,1.070234,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,...,3.072849e+18,2733035977666442898,NaN,1.563,0.905,0.078,1891515180541284343,1904083516767779093,2,22
1,0,0,2019-03-08 10:24:30.641,6333597102633388268,1.218924,1.071209,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,...,1.774085e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666,4,10
2,0,0,2019-03-08 15:24:16.069,6333597102633388268,1.205689,1.070234,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,...,3.072849e+18,392184377613098015,NaN,NaN,0.946,0.473,1891515180541284343,6958163894863846647,4,15
3,2,3,2019-03-06 03:08:51.543,6333597102633388268,1.205689,1.070234,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,...,3.072849e+18,2733035977666442898,NaN,19.013,0.035,0.431,1891515180541284343,4368617728156436525,2,3
4,2,3,2019-03-06 03:32:55.570,6333597102633388268,1.205689,1.070234,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,...,3.072849e+18,2733035977666442898,NaN,28.110,0.054,0.423,1891515180541284343,4368617728156436525,2,3

In [43]:
clicks.dtypes

advertiser_id            category
source_id                category
created            datetime64[ns]
country_code             category
latitude                  float64
longitude                 float64
wifi_connection              bool
carrier_id                float16
trans_id                   object
os_minor                  float64
agent_device              float64
os_major                  float64
specs_brand                 int64
brand                    category
timeToClick               float64
touchX                    float64
touchY                    float64
ref_type                 category
ref_hash                    int64
day_of_week                 int64
hour                        int64
dtype: object

In [84]:
clicks['ref_hash'].value_counts().head()

4063522808706112974    41
6841615430383729819    32
1244272413279716745    26
871778630200697460     21
1486699123421703687    21
Name: ref_hash, dtype: int64

In [85]:
auctions = pd.read_csv("/home/franco/Documents/Organizaci√≥n de Datos/TP1/data/auctions.csv", dtype={'auction_type_id': 'float64', 'country': 'category', 'date': 'str',
                                                   'device_id': 'int64', 'platform':'category', 'ref_type_id': 'category',
                                                   'source_id':'category'}, parse_dates = ['date'])
auctions.head(5)

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [86]:
auctions.drop('country', axis=1, inplace = True)

In [87]:
auctions.drop('auction_type_id', axis=1, inplace = True)

In [45]:
events['ref_hash'].count()

2494423

In [46]:
events['ref_hash'].isnull().sum()

0

In [47]:
installs['ref_hash'].count()

3412

In [48]:
installs['ref_hash'].isnull().sum()

0

In [49]:
clicks['ref_hash'].count()

26351

In [50]:
clicks['ref_hash'].isnull().sum()

0

In [70]:
clicks['ref_hash'].isin(events['ref_hash']).value_counts()

False    24571
True      1780
Name: ref_hash, dtype: int64

In [52]:
clicks['ref_hash'].isin(installs['ref_hash']).value_counts()

False    26340
True        11
Name: ref_hash, dtype: int64

In [53]:
events['date'].min()

Timestamp('2019-03-05 00:00:00.255000')

In [54]:
events['date'].max()

Timestamp('2019-03-13 23:59:59.984000')

In [55]:
clicks['created'].min()

Timestamp('2019-03-05 01:17:30.663000')

In [56]:
clicks['created'].max()

Timestamp('2019-03-13 23:59:59.298000')

In [57]:
installs['created'].min()

Timestamp('2019-03-05 00:00:38.219000')

In [58]:
installs['created'].max()

Timestamp('2019-03-13 23:54:00.526000')

In [59]:
#Cantidad de eventos atribuidos a jampp es 5099
events['attributed'].value_counts()

False    2489324
True        5099
Name: attributed, dtype: int64

In [60]:
events_jampp = events[events['attributed']== True]

In [61]:
events_jampp['attributed'].value_counts()

True    5099
Name: attributed, dtype: int64

In [62]:
#De 26351 clicks solo 52 fueron eventos atribuidos a jampp ??? events decia que tenia 5099 
clicks['ref_hash'].isin(events_jampp['ref_hash']).value_counts()

False    26299
True        52
Name: ref_hash, dtype: int64

In [63]:
events_nojampp = events[events['attributed']== False]

In [64]:
#De 26351 clicks, 1776 fueron eventos atribuidos a otras empresas
clicks['ref_hash'].isin(events_nojampp['ref_hash']).value_counts()

False    24575
True      1776
Name: ref_hash, dtype: int64

In [65]:
#Installs tiene 3412 instalaciones a otras empresas, ya que attributed era false para todas las filas
len(installs)

3412

In [66]:
clicks.shape

(26351, 21)

In [76]:
installs['ref_hash'].isin(events['ref_hash']).value_counts()

True     3111
False     301
Name: ref_hash, dtype: int64

In [77]:
installs['ref_hash'].isin(events_nojampp['ref_hash']).value_counts()

True     3111
False     301
Name: ref_hash, dtype: int64

In [78]:
installs['ref_hash'].isin(events_jampp['ref_hash']).value_counts()

False    3402
True       10
Name: ref_hash, dtype: int64

In [82]:
#No tiene sentido la vida

In [83]:
installs['application_id'].isin(events['application_id']).value_counts()

True     3300
False     112
Name: application_id, dtype: int64